<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="microlog" type="PlayerIO.ServerCore.Microlog.ConfigSectionHandler, PlayerIO.ServerCore"/>
	</configSections>
	<microlog>
		<target type="console"					minlevel="debug" async="true" />
		<target type="file"							minlevel="info" async="true" file="../../Logs/$starttime $version/mainlog.txt" />
		<target type="exceptions"				minlevel="info" file="../../Logs/$starttime $version/exceptions.txt" />
		<target type="mycustomtarget"		minlevel="info" />
	</microlog>
</configuration>